BasedOnStyle: WebKit
ColumnLimit: 160
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AllowShortFunctionsOnASingleLine: None
SeparateDefinitionBlocks: Always
InsertBraces: true
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
NamespaceIndentation: None
